

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:#408EC6;
    color: #FFFFFF;
}
.u-name{
    font-family: 20px;
    padding-left: 17px;
}
.u-name b{
    color: #2C5F2D;
}
.header i{
font-size: 30px;
cursor: pointer;
color: #FFFFFF;
}
.header i:hover{
    color: #2C5F2D;
}
.user-p {
    text-align: center;

    padding-top: 25px;
}
.user-p img {
    width: 100px;
    height: 100px; /* Add this */
    object-fit: cover; /* This helps the image not look stretched */
    border-radius: 50%;
}


.user-p h4{
    color: #2C5F2D;
    padding: 5px 0;
}

.side-bar{
    width: 250px;
    background-color:#89c3ec;
    min-height: 100vh;
}
.body{
    display: flex;
}
.section-1 {
    width: 100%;
    background:url(../images/pexels-jaime-reimer-1376930-2662116.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-1 h1{
    color: #2C5F2D;
    font-size: 60px;
}
.section-1 p {
    color: #2C5F2D;
    font-size: 20px;
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
}
.side-bar ul {
     margin-top: 20px;
     list-style: none;

}
.side-bar ul li{
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
}
.side-bar ul li:hover{
    background-color: #2C5F2D;
}
.side-bar ul li a{
   text-decoration: none;
   color: #eee;
   cursor: pointer;
   letter-spacing: 1px;
}
